Config { font = "xft:Monospace:size=10"
       , additionalFonts = ["xft:Sans:size=10"]
       , borderColor = "black"
       , border = TopB
       , bgColor = "#3c3c3c"
       , fgColor = "#dfdfdf"
       , alpha = 255
       , position = BottomSize L 100 24
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = True
       , hideOnStart = False
       , iconRoot = "{{DATA_DIR}}"
       , allDesktops = True
       , overrideRedirect = False
       , commands = [ Run UnsafeStdinReader
                    , Run Cpu ["-L","3","-H","50",
                               "--normal","green","--high","red",
                               "--template", "<action=`mate-system-monitor --show-processes-tab`>\
                                             \<icon=cpu-core-i7.xpm/> <ipat></action>",
                               "--", "--load-icon-pattern", "<icon=bar-%%.xpm/>"] 10
                    , Run Memory ["-t","<action=`mate-system-monitor --show-resources-tab`>\
                                       \<icon=memory.xpm/> <usedipat></action>",
                                  "--", "--used-icon-pattern", "<icon=bar-%%.xpm/>"] 10
                    , Run DiskU [("/", "<action=`baobab` button=1>\
                                       \<icon=disk-usage.xpm/> / <usedipat></action>")]
                                ["--", "--used-icon-pattern", "<icon=bar-%%.xpm/>"] 20
                    , Run Network "enp0s25" ["-S", "True", "-m", "7",
                                             "-t", "<icon=ethernet.xpm/> <rx>|<tx>"] 10
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "<fn=1>%UnsafeStdinReader%</fn> }{ %cpu% %memory% %disku% %enp0s25%"
       }
